    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }

    .container {
      display: flex;
      gap: 10px;
      width: 80%;
      background-color: #ddd;
      padding: 20px;

    }

    .container>* {
      background-color: #4285f4;
      color: white;
      font-size: 18px;
      padding: 20px;
      border: 2px solid white;
    }

    textarea {
      width: 80%;
      min-height: 150px;
      margin-top: 20px;
      resize: vertical;
      font-family: monospace;
    }

    button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #4285f4;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .parent {
      display: flex;
      gap: 10px;
      width: 80%;
      background-color: #ddd;
      padding: 20px;
      margin: 2rem;
      justify-content: space-between;
    }

    .parent>* {
      background-color: seagreen;
      color: white;
      font-size: 18px;
      padding: 20px;
      border: 2px solid white;

    }

    .one {
      flex: 0 1 200px;
    }

    .two {
      flex: 0 0 200px;
    }

    .three {
      flex: 0 0 400px;
    }